.containerEstrenos {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: auto;
    padding: 30px;
    border-radius: 15px;
    margin: 10px;
    width: 300px;
    align-items: center;
    
   
  }

  .containerProximos{
    flex-direction: column;
    align-items: center;
    display: flex;
    height: auto;
  
    margin: 10px;
    width: 300px;
    border-radius: 15px;

  }

  .imageContainer{
    background: white;
    padding: 1px;
    border-radius: 15px;

  }
  
  .name {
    font-size: 20px;
  }
  
  .name:hover {
    color: #ff9800;
    cursor: pointer;
    cursor: pointer;
  }
  
  .name .link {
    font-size: inherit;
    font-style: inherit;
    color: inherit;
    text-decoration: none;
  }
  
  .infoContainer {
    margin: 0.5rem 0;
  }
  
  .subtitle {
    color: rgb(158, 158, 158);
    font-weight: 300;
    font-size: 15px;
  }
  
  .subtitleInfo {
    font-weight: 400;
    font-size: 18px;
  }
  
  .image {
    border-color: solid white;
    padding: 15px;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 25px 25px;
   
  }
  
  .rightSideContainer {
    color: rgb(255, 255, 255);
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    
  }